


body
    { background-color:  rgb(53, 28, 5);}

h1  
    {color: orangered;font-family: 'Times New Roman', Times, serif;}

form 
    { text-align: center; font-family: 'Times New Roman', Times, serif; color: rgb(36, 53, 6); background-color: rgb(36, 53, 6);}

li { display:inline;}

a:link {color: orangered; font-family: 'Times New Roman', Times, serif; font-size: 20px;}

a:visited {color: orangered;}

textarea {background-color: rgb(53, 28, 5); color: white; position:relative;}

input {background-color: rgb(53, 28, 5); color: white;}



.topNav 
        {
            list-style-type: none;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            color: orangered;
            padding: 40px;
            margin-top: 0px;
            
        }