body {
    background-color: #f8f4cb;
}

a:link{color: #f8f4cb;}
a:visited{color: #f8f4cb;}

input{color: rgb(23, 23, 90); background-color: #f8f4cb;}

ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-style: bold;
    text-align: center;
}

li {display: inline;}

.topNav{
    position: center;
    background-color: rgb(23, 23, 90);
    color: #f8f4cb;
    list-style-type: none;
}

.cartWrapper{
    border: solid;
    border-width: 2px;
    border-color: rgb(23, 23, 90);
    display: flex;
    justify-content: space-between;
}

.itemGrid {
    background-color: rgb(23, 23, 90);
    color: #f8f4cb;
    font-family: Arial, Helvetica, sans-serif;
    border-style: ridge;
    border-width: 4px;
    border-color: white;
    display: grid;
    
}

.customerCart{
    background-color: rgb(23, 23, 90);
    color: #f8f4cb;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    border-style: solid;
    border-style: groove;
    border-width: 4px;
    border-color: white;
}


