body {
    background-color: #f8f4cb;
}

a:link{color: #f8f4cb;}

a:visited{color: #f8f4cb;}

button{color:rgb(23, 23, 90); background-color: #f8f4cb;}

label{font-weight: bold; color: #f8f4bc;}

ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-style: bold;
    text-align: center;
}

li {display: inline;}



.input {
    color: rgb(23, 23, 90); 
    background-color: #f8f4cb;
}

h2 {color: rgb(23, 23, 90);}


.topNav{
    position: center;
    background-image: linear-gradient(rgb(16, 16, 168) 0.5%, rgb(23,23,90));
    color: #f8f4cb;
    list-style-type: none;
}

.cartRow{
    border: solid;
    border-width: 2px;
    border-color: white;
    border-style: ridge;
    background-image: linear-gradient(rgb(16, 16, 168) 0.5%, rgb(23,23,90));
    display: flex;
    justify-content: space-between;
}




.quantityUpdate {
    color: rgb(23, 23, 90); 
    background-color: #f8f4cb;
    width: 2;
}

.cartTotal{
    background-image: linear-gradient(rgb(16, 16, 168) 0.5%, rgb(23,23,90));
    color: #f8f4cb;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    border-style: solid;
    border-style: groove;
    border-width: 4px;
    border-color: white;
}


