


body
    { background-color:  rgb(53, 28, 5);}

h1  
    {color: orangered;font-family: 'Times New Roman', Times, serif;}

h2
    {color: orangered; font-family: 'Times New Roman', Times, serif; text-align: center;}

h3
    {color: orangered; font-family: 'Times New Roman', Times, serif; text-align: center;}

form 
    { text-align: center; font-family: 'Times New Roman', Times, serif; color: rgb(36, 53, 6); background-color: rgb(36, 53, 6);}

.liContact { display:inline;}

a:link {color: orangered; font-family: 'Times New Roman', Times, serif; font-size: 20px;}

a:visited {color: orangered;}

textarea {background-color: rgb(53, 28, 5); color: white; position:relative;}

input {background-color: rgb(53, 28, 5); color: white;}

table{border: 3px; color: orangered; }

p {color: orangered; font-size: 20px;}

li {display: inline;}
.topNav 
        {
            list-style-type: none;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            color: orangered;
            padding: 40px;
            margin-top: 0px;
            
        }

.mapImg
{
    border: 2px orangered;
}

.historyText
{
    text-align: left;
    color: orangered;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    box-sizing: border-box;
    
}

.licenseTable
{
    empty-cells: hide; 
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.dateTable
{
    empty-cells: hide;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}
.divTechniques
{
    border: solid rgb(36, 53, 6);
    border-width: medium;
    color: orangered;
    background-color: rgb(53, 28, 5);
}
